#music-analyzer {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#analysisResult {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

#analysisResult > canvas {
    width: 100%;
    height: auto;
    aspect-ratio: 4;
}