:root {
    --bg-color-dark:  #222;
    --bg-color-light: #333;

    --medium-color:   #666;
    --fg-color:       #fff;

    --color-red:      #f48;
    --color-purple:   #a8f;
    --color-blue:     #48f;
    --color-cyan:     #6ef;
    --color-green:    #0c8;
    --color-yellow:   #fd8;

    overflow-x:       hidden;

    background:       var(--bg-color-dark);
    color:            var(--fg-color);
}

*, *::before, *::after {
    box-sizing: border-box;
}

input, button, select, option, textarea {
    color:      inherit;
    font:       inherit;
    background: none;
    border:     none;
    outline:    none;
    margin:     0;
    padding:    0;
}

@font-face {
    font-family: "JetBrains Mono";
    src:         url("font/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Nunito";
    src:         url("font/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Leland";
    src:         url("font/Leland.otf") format("opentype");
}

@font-face {
    font-family: "Leland Text";
    src:         url("font/LelandText.otf") format("opentype");
}