#playback-controls {
    display:     flex;
    flex-wrap:   wrap;
    align-items: center;
    row-gap:     .5em;

    > * {
        white-space: nowrap;
    }

    > :not(div.divider):not(:has(+div.divider)):not(:last-child) {
        margin-right: 1.5em;
    }

    > div.divider {
        flex-grow:        0;
        flex-shrink:      0;
        display:          inline-block;
        width:            0;
        height:           1.5em;
        border-left:      1px solid var(--medium-color);
        margin:           0 1em;
    }

    > button {
        display:     flex;
        align-items: center;

        > svg {
            /*
            This is calculated so that the SVGs I am using
            match the style of Nunito font
            */
            height: 1.25em;
        }
    }

    > label {
        display:      flex;
        align-items:  center;
        --text-width: 5em;

        > span:first-child {
            margin-right: .5em;
        }

        > span {
            display:         flex;
            justify-content: end;
            align-items:     center;
        }

        > span:last-child {
            min-width: var(--text-width);
            max-width: var(--text-width);
            width:     var(--text-width);
        }

        > input[type="range"] {
            width:        4.5em;
            accent-color: var(--color-cyan);
        }
    }
}


#playback-controls-center {
    flex-grow:       1;
    display:         flex;
    justify-content: space-between;
    height:          1.5em;
}

#current-position-display {
    display: flex;

    > span:nth-child(2) {
        display:    inline-block;
        width:      4em;
        min-width:  4em;
        text-align: right;
    }
}


#uploader {
    padding:            .3em;
    padding-inline:     .5em;
    outline:            1px solid white;

    flex-grow:          10;
    min-width:          0;
    width: 4em;
    max-width:          fit-content;

    white-space:        nowrap;
    overflow-x:         hidden;
    text-overflow:      ellipsis;

    > input[type="file"] {
        display: none;
    }
}